USHSPA: مرحباً {{ customer_name.split()[0] if customer_name else '' }}، تم تأكيد حجزك في {{ appointment_date }} الساعة {{ appointment_time }}.{% if booking_reference %} رقم المرجع: {{ booking_reference }}{% endif %} نتشرف بزيارتكم!
