USHSPA: Hi {{ customer_name.split()[0] if customer_name else 'Customer' }}, your booking is CONFIRMED for {{ appointment_date }} at {{ appointment_time }}.{% if booking_reference %} Ref:{{ booking_reference }}{% endif %} See you soon!
