Welcome to USH Spa{% if customer_name %}, {{ customer_name }}{% endif %}! 🌿

Your account has been created.{% if password %} Your password is: {{ password }}{% endif %}

Download the USH Spa app to book your next treatment and enjoy our exclusive spa services:
App Store: https://apps.apple.com/kw/app/ushspa/id6771279814
Website: https://ushspa.co/

— USH Spa Team
